@model RegisterViewModel 
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

@* <link href="~/css/stylesheet.css" rel="stylesheet" /> *@

@* <form asp-action="Register" asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text-warning">
    </div>
    <table class="table table-bordered">
        <tr>
            <td><label asp-for="FirstName"></label></td>
            <td>
                <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </td>
        </tr>

        <tr>
            <td><label asp-for="LastName"></label></td>
            <td>
                <input asp-for="LastName" placeholder="Last Name" class="form-control" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td>
                <input asp-for="Email" placeholder="Enter Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </td>
        <tr>
        <tr>
            <td><label asp-for="ConfirmEmail"></label></td>
            <td>
                <input asp-for="ConfirmEmail" placeholder="Enter Confirm Email" class="form-control" />
                <span class="text-danger" asp-validation-for="ConfirmEmail"></span>
            </td>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td>
                <input asp-for="Password" placeholder="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmPassword"></label></td>
            <td>
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </td>
        </tr>


         <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

  
         <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="save" />
            </td>

        </tr>

    </table>
    </form> *@

@* <div class="box">
    <form asp-action="Register" asp-controller="Account" method="post">
        <h2> <span style="color:grey;">Register</span></h2>
        <div class="inputBox">
            <input asp-for="FirstName" required>
            <span>FirstName</span>
            <span class="text-danger" asp-validation-for="FirstName"></span>
            <i></i>
        </div>

        <div class="inputBox">
            <input asp-for="LastName" required>
            <span>LastName</span>
            <span class="text-danger" asp-validation-for="LastName"></span>
            <i></i>
        </div>

        <div class="inputBox">
            <input asp-for="Email" required>
            <span>Email</span>
            <span class="text-danger" asp-validation-for="Email"></span>
            <i></i>
        </div>

        <div class="inputBox">
            <input asp-for="ConfirmEmail" required>
            <span>ConfirmEmail</span>
            <span class="text-danger" asp-validation-for="ConfirmEmail"></span>
            <i></i>
        </div>

        <div class="inputBox">
            <input asp-for="Password" required>
            <span>Password</span>
            <span class="text-danger" asp-validation-for="Password"></span>
            <i></i>
        </div>

        <div class="inputBox">
            <input asp-for="ConfirmPassword" required>
            <span>ConfirmPassword</span>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <i></i>
        </div>

       
            <div class="file-upload">
				<input asp-for="Image" type="file" required>
				<span class="text-danger" asp-validation-for="Image"></span>
				<i></i>
            </div>
      
        <br />
        <div class="links">
            <a asp-action="Register" asp-controller="Account">Signup</a>
        </div>
        <input type="submit" id="submit" value="Login">
    </form>
</div>
 *@


<link href="~/css/registerstyle.css" rel="stylesheet" />
<div class="background"></div>
<div class="box">
    <h2>Register</h2>
    <form method="post" asp-action="Register" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="inputBox">
            <input type="text" asp-for="FirstName">
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="inputBox">
            <input type="text" asp-for="LastName">
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="inputBox">
            <input type="text" asp-for="Email">
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="inputBox">
            <input type="text" asp-for="ConfirmEmail">
            <label asp-for="ConfirmEmail">ConfirmEmail</label>
            <span asp-validation-for="ConfirmEmail"></span>
        </div>

        <div class="inputBox">
            <input type="password" asp-for="Password">
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="inputBox">
            <input type="password" asp-for="ConfirmPassword">
            <label asp-for="Password">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="file-upload">
            <input asp-for="Image" type="file" required>
            <span class="text-danger" asp-validation-for="Image"></span>
            <i></i>
        </div>
      
        <input class="margin-top" type="submit" value="Register">
    </form>
</div>


@section Scripts {
    <script src="~/js/register.js"></script>
}